.service {
  position: relative;
  overflow: hidden;
  /* filter: brightness(80.5%); */
}

/* .service > .serviceDesc {
  filter: brightness(100%);
  filter: blur(1%);
} */

.serviceImageContainer {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  height: 470px;
  background-color: #111;
  filter: brightness(47.5%);
}

.serviceImageContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.serviceDesc {
  text-align: center;
  position: absolute;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
}

.serviceDesc > h4 {
  font-weight: 500;
  margin-bottom: 30px;
  color: var(--textColor);
  font-size: 22px;
}

.serviceDesc > a {
  border: 1px solid var(--textColor);
  padding: 10px;
  color: var(--textColor);
  border-radius: .9em;
  text-decoration: none;
  text-transform: capitalize;
}

.serviceImageContainer:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}


.service:hover .serviceDesc * {
  text-shadow: 1px 1px 10px #08080808 ;
}


.serviceDesc > a:hover {
  letter-spacing: 1px;
  color: var(--altColor);
  transition: .5s;
  border: 1px solid var(--altColor);
}