.value {
  padding: 102px 40px 0;
}

.valueContainer {
  display: flex;
}


.valueImage {
  overflow: hidden;
  /* inset: 0; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1.5;
  padding: 20px 15px 0;
}

.valueImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.valueContent {
  flex: 1;
  /* padding: 40px 0; */
}

.valueTitle > h2 {
  font-size: 1.5rem;
  color: var(--altColor);
  text-transform: capitalize;
  font-weight: 700;
  padding: .5rem 0;
  line-height: 1.2;
  text-align: center; 
}

.valueTitle > h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  font-weight: 400;
  padding: .5rem 0;
  line-height: 1.2;
  text-align: center;
  color: var(--textColor);
}

.valueTitleDesc {
  font-size: 1rem;
  text-align: justify;
  padding-bottom: .3rem;
  line-height: 1.5;
  color: var(--textColor);
}

.valueItems {
  display: grid;
  row-gap: 0.5rem;
}

.valueItem {
  background-color: #fff;
  border: 2px solid hsl(228, 12%, 75%);
  border-radius: .5rem;
  padding: 0.5rem;
}

.valueItemHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.valueItemHeader > span {
  background-color: hsl(228, 100%, 97%);
  padding: 5px;
  border-radius: .25rem;
  font-size: 18px;
  margin-right: .75rem;
  transition: .3s;
}

.valueItemHeader > h3 {
  font-size: 17px;
  color: var(--altColor);
}

.valueItemArrow {
  display: inline-flex;
  background-color: hsl(228, 100%, 97%);
  padding: 0.25rem;
  color: var(--altColor);
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  transition: .3s;
}

.valueItemDesc {
  padding: 1.25rem 2.
  5rem 0 2.75rem;
}

.valueItemDesc > p {
  overflow: hidden;
  transition: all .25s ease;
  font-style: italic;
  font-size: 14px;
  text-align: justify;
  padding: 0 35px 0 40px;
}

@media only screen and (max-width: 1091px) {
  .valueContent {
    flex: 1.25;
  }

  .valueTitle > h3, .valueTitle > h2 {
    padding: .2rem 0;
  }

  .valueTitle > h3 {
    font-size: 1.5em;
  }

  .valueTitle > h2 {
    font-size: 1.35rem;
  }

  .valueImage {
    padding: 5px 15px 0 0;
  }

  .valueTitleDesc {
    font-size: .9rem;
  }
  
  .valueItemHeader > h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .valueImage {
    flex: 2;
  }

  .valueItemDesc > p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 900px) {
  .valueContainer {
    flex-direction: column-reverse;
  }

  .valueContent {
    padding: 0 180px;
  }

  .valueImage {
    padding: 50px 100px 0;
  }

  .valueTitle > h3, .valueTitle > h2 {
    padding: .4rem 0;
  }

  .valueItems {
    padding: .5rem 0;
  }
}


@media only screen and (max-width: 800px) {
  .valueContent {
    padding: 0 120px;
  }

  .valueImage {
    padding: 50px 70px 0;
  }
}


@media only screen and (max-width: 700px) {
  .valueContent {
    padding: 0 80px;
  }

  .valueImage {
    padding: 50px 50px 0;
  }
}


@media only screen and (max-width: 600px) {
  .valueContent {
    padding: 0 40px;
  }

  .valueImage {
    padding: 35px 35px 0;
  }
}


@media only screen and (max-width: 500px) {
  .valueContent {
    padding: 0 20px;
  }

  .valueImage {
    padding: 35px 15px 0;
  }

  .valueTitle > h3 {
    font-size: 1.2rem;
  }

  .valueTitle > h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 450px) {
  .value {
    padding: 102px 20px 0;
  }

  .valueItemDesc > p {
    font-size: 12px;
  }

  .valueTitleDesc {
    font-size: .8rem;
  }

  .valueItemHeader > h3 {
    font-size: .85rem;
  }
}


@media only screen and (max-width: 400px) {
  .valueContent {
    padding: 0 0px;
  }

  .valueImage {
    padding: 35px 0px 0;
  }

  .valueTitle > h3 {
    font-size: 1.1rem;
  }

  .valueTitle > h2 {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 350px) {
  .value {
    padding: 102px 10px 0;
  }

  .valueItemDesc > p {
    font-size: 11px;
  }

  .valueTitleDesc {
    font-size: .7rem;
  }

  .valueItemHeader > h3 {
    font-size: .74rem;
  }
}