.value {
  padding: 0 50px;
}

.valueContainer {
  display: flex;
}


.valueImage {
  overflow: hidden;
  inset: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  flex: 1.5;
  padding: 50px;
}

.valueImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.valueContent {
  flex: 1;
  /* padding: 40px 0; */
}

.valueTitle > h2 {
  font-size: 1.5rem;
  color: var(--altColor);
  text-transform: capitalize;
  font-weight: 700;
  padding: .5rem 0;
  line-height: 1.2;
  text-align: center; 
}

.valueTitle > h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  font-weight: 400;
  padding: .5rem 0;
  line-height: 1.2;
  text-align: center;
}

.valueTitleDesc {
  font-size: 1rem;
  text-align: justify;
  padding-bottom: .3rem;
  line-height: 1.5;
}

.valueItems {
  display: grid;
  row-gap: 0.5rem;
}

.valueItem {
  background-color: #fff;
  border: 2px solid hsl(228, 12%, 75%);
  border-radius: .5rem;
  padding: 0.818rem;
}

.valueItemHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.valueItemHeader > span {
  background-color: hsl(228, 100%, 97%);
  padding: 5px;
  border-radius: .25rem;
  font-size: 18px;
  margin-right: .75rem;
  transition: .3s;
}

.valueItemHeader > h3 {
  font-size: 17px;
  color: var(--altColor);
}

.valueItemArrow {
  display: inline-flex;
  background-color: hsl(228, 100%, 97%);
  padding: 0.25rem;
  color: var(--altColor);
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  transition: .3s;
}

.valueItemDesc {
  padding: 1.25rem 2.
  5rem 0 2.75rem;
}

.valueItemDesc > p {
  overflow: hidden;
  transition: all .25s ease;
  font-style: italic;
  font-size: 14px;
  text-align: justify;
  padding: 0 35px 0 40px;
}