.testimony {
  max-width: 70%;
  margin: 0 auto;
}

.testimony:hover > img {
  transform: scale(1.1);
}

.testimony > img {
  max-width: 100px;
  float: left;
  margin: 5px 0 0 5px;
}

.testimonyContent * {
  color: var(--textColor);
}

.testimonyContent {
  margin-left: 120px;
  color: var(--textColor);
}

.testimonyContent > p {
  font-size: 1.2em;
  font-style: italic;
}

.testimonyContent > h4 {
  font-weight: 500;
  margin-top: 20px;
}

.testimonyContent > h5 {
  font-size: .9em;
}