.footer {
  padding: 50px 200px 20px;
  
}

.footerLinks {
  display: flex;
  justify-content: space-between;
}

.footerImage {
  display: flex;
  justify-content: center;
  padding: 70px;
  padding-top: 0;
}

.footerImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pageLinks > h2 {
  color: var(--altColor);
  margin-bottom: 10px;
}

.linksContainer > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #111;
  margin: 2px 0;
  padding: 3px 0;
  color: var(--textColor);
  /* background: hsl(225, 22%, 93%);
  border-radius: 10px; */
}

.contactLinks > h2 {
  color: var(--altColor);
  margin-bottom: 10px;
}

.contactsContainer > a {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-decoration: none;
  margin: 2px 0;
  padding: 3px 0px;
  color: var(--textColor);
  /* background: hsl(225, 22%, 93%);
  border-radius: 10px; */
}

.contactsContainer > a:hover, .linksContainer > a:hover {
  color: var(--altColor);
}

.copyright {
  margin-top: 35px;
  text-align: center;
  color: var(--textColor);
}

.copyright > p {
  margin-top: 10px;
}