.footer {
  padding: 100px 100px 20px;
  
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.footerImage {
  padding: 70px;
  padding-top: 0;
  margin-top: 0;
  width: 500px;
  /* height: 500px; */
}

.footerImage > img {
  width: 100%;
  /* height: 200%; */
  object-fit: contain;
}

.pageLinks > h2 {
  color: var(--altColor);
  margin-bottom: 10px;
}

.linksContainer > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #111;
  margin: 2px 0;
  padding: 3px 0;
  color: var(--textColor);
  /* background: hsl(225, 22%, 93%);
  border-radius: 10px; */
}

.contactLinks > h2 {
  color: var(--altColor);
  margin-bottom: 10px;
}

.contactsContainer > a {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-decoration: none;
  margin: 2px 0;
  padding: 3px 0px;
  color: var(--textColor);
  /* background: hsl(225, 22%, 93%);
  border-radius: 10px; */
}

.contactsContainer > a:hover, .linksContainer > a:hover {
  color: var(--altColor);
}

.copyright {
  margin-top: 35px;
  text-align: center;
  color: var(--textColor);
}

.copyright > p {
  margin-top: 10px;
}

@media only screen and  (max-width: 1115px) {
  .footer {
    padding: 100px 50px 20px;
    
  } 
}

@media only screen and  (max-width: 1050px) {
  .footer {
    padding: 100px 10px 20px;   
  } 

  .pageLinks > h2, .contactLinks > h2 {
    font-size: 1.1rem;
  }

  .linksContainer > a, .contactsContainer > a , .copyright > p{
    font-size: .9rem;
  }
}

@media only screen and  (max-width: 900px) {
  .footer {
    padding: 100px 0px 20px;
  } 

  .footerLinks {
    justify-content: space-between;
    gap: 10px;
  }
}

@media only screen and  (max-width: 850px) {
  .footerLinks {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  } 

  .contactLinks, .pageLinks {
    margin-left: 10%;
  }
}

@media only screen and  (max-width: 470px) {
  .footerImage {
    padding: 37px;
    width: 410px;
    /* height: 500px; */
  }
}


@media only screen and  (max-width: 400px) {
  .footerImage {
    padding: 30px;
    width: 350px;
    /* height: 500px; */
  }
}

@media only screen and  (max-width: 350px) {
  .footerImage {
    padding: 20px;
    width: 300px;
    /* height: 500px; */
  }
}

@media only screen and  (max-width: 300px) {
  .footerImage {
    padding: 20px;
    width: 250px;
    /* height: 500px; */
  }
}